<h2>Filters :</h2>
<div id="filter">
  <div id="search">
    <label for="search">search: </label>
    <input type="text" [formControl]="search" id="search">
    <button (click)="onSubmit()" type="submit" class="btn btn-default">Chercher</button>
  </div>
  <div>
    <button (click)="onSelectLanguage('JAVA')">JAVA</button>
    <button (click)="onSelectLanguage('PHP')">PHP</button>
    <button (click)="onSelectLanguage('JAVASCRIPT')">JAVASCRIPT</button>
    <button (click)="onSelectLanguage('TYPESCRIPT')">TYPESCRIPT</button>
    <button (click)="getQuestionsWithoutReponse()">Without Responses</button>
  </div>
  <div>
    <button (click)="loadAllQuestions()">ResetSearch</button>
  </div>
</div>

<div *ngIf="searchByUser">
  <h2>{{searchByUser}} questions :</h2>
</div>

<div id="pagination">
  <button (click)="previousQuestions()">
    < </button>
      <h3> {{startQuestion +1 }}-{{endQuestion}} / {{questionsToShow.length}} of {{questions.length}} questions</h3>
      <button (click)="nextQuestions()">></button>
</div>

<div class="grid-container">
  <ng-container *ngFor="let question of questionsToShow">
    <mat-grid-list cols="1" rowHeight="300px" *ngIf="isLogging">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <h3>Language : {{question.language}}</h3>
              <h2>Q: {{question.title}}</h2>
              <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
                *ngIf="isLogging">
                <mat-icon>more_vert</mat-icon>
              </button>
              <mat-menu #menu="matMenu" xPosition="before" id="menu">
                <button mat-menu-item *ngIf="!question.reported" (click)="reportQuestion(question.tid)">Report</button>
                <button mat-menu-item *ngIf="question.reported" (click)="deleteQuestion(question.tid)">Delete</button>
              </mat-menu>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" [routerLink]="['/questions',question.tid]">
            <div>{{question.content}}</div>
          </mat-card-content>
          <footer>
            <p>Posted : {{question.creationDate}}</p>
            <p><a (click)="getQRByUser(question.author)">Author : {{question.author}}</a></p>
            <p>email : {{question.authorEmail}}</p>
          </footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
    <mat-grid-list cols="1" rowHeight="300px" *ngIf="!isLogging && !question.reported">
      <mat-grid-tile [colspan]="1" [rowspan]="1">
        <mat-card class="dashboard-card">
          <mat-card-header>
            <mat-card-title>
              <h2>{{question.title}}</h2>
              <h3>Language : {{question.language}}</h3>
            </mat-card-title>
          </mat-card-header>
          <mat-card-content class="dashboard-card-content" [routerLink]="['/questions',question.tid]">
            <div>{{question.content}}</div>
          </mat-card-content>
          <footer>
            <p>Posted : {{question.creationDate}}</p>
            <p>Author : {{question.author}}</p>
            <p>email : {{question.authorEmail}}</p>
          </footer>
        </mat-card>
      </mat-grid-tile>
    </mat-grid-list>
  </ng-container>
</div>
<div class="grid-container">
  <div *ngIf="searchByUser">
    <div id="pagination">
      <button (click)="previousResponses()">
        < </button>
          <h3> {{startResponse +1 }}-{{endResponse}} / {{questionsToShow.length}} of {{questions.length}} questions</h3>
          <button (click)="nextResponses()">></button>
    </div>
    <h2>{{searchByUser}} reponses :</h2>
    <ng-container *ngFor="let response of responsesByUser">
      <mat-grid-list cols="1" rowHeight="300px" *ngIf="isLogging">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-header>
              <mat-card-title>
                <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu"
                  *ngIf="isLogging">
                  <mat-icon>more_vert</mat-icon>
                </button>
                <mat-menu #menu="matMenu" xPosition="before">
                  <button mat-menu-item *ngIf="!response.reported"
                    (click)="reportQuestion(response.tid)">Report</button>
                  <button mat-menu-item *ngIf="response.reported" (click)="deleteQuestion(response.tid)">Delete</button>
                </mat-menu>
              </mat-card-title>
            </mat-card-header>
            <mat-card-content class="dashboard-card-content" [routerLink]="['/questions',response.tid]">
              <div>{{response.content}}</div>
            </mat-card-content>
            <footer>
              <p>Posted : {{response.creationDate}}</p>
              <a (click)="getQRByUser(response.author)">Author : {{response.author}}</a>
              <p>email : {{response.authorEmail}}</p>
            </footer>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
      <mat-grid-list cols="1" rowHeight="300px" *ngIf="!isLogging && !response.reported">
        <mat-grid-tile [colspan]="1" [rowspan]="1">
          <mat-card class="dashboard-card">
            <mat-card-content class="dashboard-card-content" [routerLink]="['/questions',response.tid]">
              <div>{{response.content}}</div>
            </mat-card-content>
            <footer>
              <p>Posted : {{response.creationDate}}</p>
              <p>Author : {{response.author}}</p>
              <p>email : {{response.authorEmail}}</p>
            </footer>
          </mat-card>
        </mat-grid-tile>
      </mat-grid-list>
    </ng-container>
  </div>
</div>