.grid-container {
  margin: 20px;
}

.dashboard-card {
  position: absolute;
  top: 15px;
  left: 15px;
  right: 15px;
  bottom: 15px;
  h2{
    color: black;
    margin: auto;
  }
}

.more-button {
  position: absolute;
  top: 5px;
  right: 10px;
}

.dashboard-card-content {
  text-align: justify;
}

h2{
  color: orange;
  margin-left: 20px;
}

#filter{
  display: flex;
  justify-content: space-around;
  margin-bottom: 50px;
  button{
    background: linear-gradient(0.25turn, orange, orangered);
    border-radius: 5px;
    padding: 10px;
    border: 0;
  }
  label{
    color: orange;
    font-size: 1.2em;
    margin: auto 10px;
  }
}

#pagination{
  display: flex;
  justify-content: end;
  h3{
    margin: auto;
    font-size: 1.1em;
    color: yellow;
  }
  button{
    background: linear-gradient(0.25turn, orange, yellow);
    border-radius: 5px;
    padding: 10px;
    border: 0;
    margin: 0 10px;
  }
}

#search{
  display: flex;
  justify-content: space-around;
}

footer{
  width: 50%;
  position: absolute;
  bottom: 0px;
  right: 0px;
  display: flex;
  justify-content: space-around;
}

#menu{
  background-color: salmon;
}