
<form [formGroup]="responseForm" (submit)="onSubmit()">
    <div class="form-group">
            <label for="synopsis">Content: </label>
            <textarea type="text" [formControl]="content" id="content" ></textarea>
        <button type="submit" class="btn btn-default">Submit</button>
    </div>
</form>