.form-group{
    display: flex;
    justify-content: space-between;
    width: 100%;
    label{
        font-size: 1.1em;
        color: orange;
        margin: auto 0;
    }
}
textarea{
    width: 100%;
    margin: 25px;
    height: 100px;
}

button{
    background: linear-gradient(0.25turn, orange, yellow);
    border-radius: 5px;
    padding: 10px;
    border: 0;
    margin: auto 10px;
    height: 40px;
  }