header {
    display: flex;
    background-color: #282F33;
    vertical-align: middle;
    margin-bottom: 50px;
  
    img {
      margin: 10px;
      width: 50px;
    }
  }
  
  nav {
    width: 100%;
    padding: auto 0;
  }
  
  ul {
    list-style-type: none;
    margin: 0;
    overflow: hidden;
    float: right;
  }
  
  li {
    float: left;
    a {
      display: block;
      color: orangered;
      text-align: center;
      padding: 14px 16px;
      text-decoration: none;
      font-size: 1.2em;
    }
  }

  #left-side-header{
    display: flex;
    a{
      margin: auto 5px;
      font-size: 2em;
      text-decoration: none;
      color: orangered;
    } 
  }