<header>
    <div id="left-side-header">
        <a routerLink="/"><img src="../../../assets/img/logoZenika2.png" alt="home"></a>
        <a routerLink="/">Zenistack</a>
    </div>
    
    <nav>
        <ul>
            <li>
                <a routerLink="/">Accueil</a>
            </li>
            <li>
                <a [routerLink]="['/questions/create']">Poser une question ?</a>
            </li>
            <li *ngIf="!isLogging">
                <a routerLink="/login">Login</a>
            </li>
            <li *ngIf="!isLogging">
                <a routerLink="/signUp">Inscription</a>
            </li>
            <li *ngIf="isLogging">
                <a (click)="logout()">Logout</a>
            </li>
        </ul>
    </nav>
</header>