<form [formGroup]="loginForm" (submit)="onSubmit()">
    <div class="form-group">
        <h1>S'inscrire</h1>
        <div>
            <label for="synopsis">pseudo: </label>
            <label *ngIf="pseudo.invalid" [ngClass] = "'error'"> * </label>
            <input type="text" [formControl]="pseudo" id="pseudo" >
        </div>
        <div>
            <label for="synopsis">mail: </label>
            <label *ngIf="mail.invalid" [ngClass] = "'error'"> * </label>
            <input type="text" [formControl]="mail" id="mail" >
        </div>
        <div>
            <label for="password">password: </label>
            <label *ngIf="password.invalid" [ngClass] = "'error'"> * </label>
            <input type="password" [formControl]="password" id="password" >
        </div>
        <button type="submit" class="btn btn-default">Register</button>
    </div>
</form>