.form-group{
    display: flex;
    flex-direction: column;
    text-align: center;
    width: 40%;
    margin: auto;
    label{
        font-size: 1.1em;
        color: orange;
        margin: auto 0;
    }
}
#title{
    textarea{
        width: 90%;
        margin: 25px;
        height: 50px;
    }
}

textarea{
    width: 90%;
    margin: 25px;
    height: 100px;
}

button{
    background: linear-gradient(0.25turn, orange, yellow);
    border-radius: 5px;
    padding: 10px;
    border: 0;
    margin: 20px auto;
    height: 40px;
    width: 30%;
  }