
<form [formGroup]="questionForm" (submit)="onSubmit()">
    <div class="form-group">
        <div id="title">
            <label for="title">Title: </label>
            <textarea type="texta" formControlName="title" id="title" ></textarea>
        </div>
        <div>
            <label for="content">Content: </label>
            <textarea type="text" formControlName="content" id="content" ></textarea>
        </div>
        <div>
            <label for="language">Language: </label>
            <select formControlName="language">
                <option *ngFor="let language of languageList" [ngValue]="language">
                  {{ language.name }}
                </option>
              </select>
        </div>

        <button type="submit" class="btn btn-default">Post</button>
    </div>
</form>