
// Custom Theming for Angular Material
// For more information: https://material.angular.io/guide/theming
@use '@angular/material' as mat;
// Plus imports for other components in your app.
@use 'theme-helper';

// Include the common styles for Angular Material. We include this here so that you only
// have to load a single css file for Angular Material in your app.
// Be sure that you only ever include this mixin once!
@include mat.core();

// Define the palettes for your theme using the Material Design palettes available in palette.scss
// (imported above). For each palette, you can optionally specify a default, lighter, and darker
// hue. Available color palettes: https://material.io/design/color/
$finalExamFront-primary: mat.define-palette(mat.$orange-palette, 500);
$finalExamFront-accent: mat.define-palette(mat.$yellow-palette, A200, A100, A400);

// The warn palette is optional (defaults to red).
$finalExamFront-warn: mat.define-palette(mat.$red-palette);

// Create the theme object. A theme consists of configurations for individual
// theming systems such as "color" or "typography".
$finalExamFront-theme: mat.define-light-theme((
  color: (
    primary: $finalExamFront-primary,
    accent: $finalExamFront-accent,
    warn: $finalExamFront-warn,
  )
));
//add method to change backgroundcolot
$my-background-color: #000000;
$my-theme: theme-helper.modify-background($finalExamFront-theme, $my-background-color);

// Include theme styles for core and each component used in your app.
// Alternatively, you can import and @include the theme mixins for each component
// that you are using.
@include mat.all-component-themes($finalExamFront-theme);

/* You can add global styles to this file, and also import other style files */

html, body { height: 100%; }
body { 
  margin: 0; 
  font-family: Roboto, "Helvetica Neue", sans-serif;
  background-color: #282F33;
}
.mat-card{
  background-color: #ff9800;
}

.mat-menu-panel {
    background: orange;
}