<div class="grid-container" *ngIf="question">
    <mat-grid-list cols="2" rowHeight="200px">
        <mat-grid-tile [colspan]="2" [rowspan]="2">
            <mat-card class="dashboard-card">
                <mat-card-header id="title">
                    <mat-card-title>
                        {{question.title}}
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="isLogging">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item *ngIf="!question.reported" (click)="reportQuestion(question.tid)">Report</button>
                            <button mat-menu-item *ngIf="question.reported" (click)="deleteQuestion(question.tid)">Delete</button>
                          </mat-menu>
                    </mat-card-title>
                </mat-card-header>
                <mat-card-content class="dashboard-card-content">
                    <div>{{question.content}}</div>
                </mat-card-content>
                <footer>
                    <p>Posted : {{question.creationDate}}</p>
                    <a (click)="getQRByUser(question.author)">Author : {{question.author}}</a>
                    <p>email : {{question.authorEmail}}</p>
                  </footer>
            </mat-card>
        </mat-grid-tile>
    </mat-grid-list>
    <ng-container *ngIf="question.responses.length > 0">
        <mat-grid-list cols="1" rowHeight="200px" *ngFor="let response of question.responses">
            <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="isLogging">
                <mat-card class="dashboard-card">
                    <mat-card-title>
                        votes: {{response.voters}}
                        <button mat-icon-button class="more-button" [matMenuTriggerFor]="menu" aria-label="Toggle menu" *ngIf="isLogging">
                            <mat-icon>more_vert</mat-icon>
                          </button>
                          <mat-menu #menu="matMenu" xPosition="before">
                            <button mat-menu-item *ngIf="!response.reported" (click)="reportResponse(response.tid)">Report</button>
                            <button mat-menu-item *ngIf="response.reported" (click)="deleteResponse(response.tid)">Delete</button>
                            <button mat-menu-item (click)="addVoterResponse(response.tid)">Vote</button>
                            <button mat-menu-item (click)="unVoteResponse(response.tid)">UnVote</button>
                          </mat-menu>
                    </mat-card-title>
                    <mat-card-content class="dashboard-card-content">
                        <div>{{response.content}}</div>
                    </mat-card-content>
                    <footer>
                        <p>Posted : {{response.creationDate}}</p>
                        <a (click)="getQRByUser(response.author)">Author : {{response.author}}</a>
                        <p>email : {{response.authorEmail}}</p>
                      </footer>
                </mat-card>
            </mat-grid-tile>
            <mat-grid-tile [colspan]="1" [rowspan]="1" *ngIf="!isLogging && !response.reported">
                <mat-card class="dashboard-card">
                    <mat-card-content class="dashboard-card-content">
                        <div>{{response.content}}</div>
                    </mat-card-content>
                    <footer>
                        <p>Posted : {{response.creationDate}}</p>
                        <a (click)="getQRByUser(response.author)">Author : {{response.author}}</a>
                        <p>email : {{response.authorEmail}}</p>
                      </footer>
                </mat-card>
            </mat-grid-tile>
        </mat-grid-list>
    </ng-container>
    <app-add-response-form
    [questionTid] = 'questionId!'
    (refreshParent) = "actualizeComponent()"
    ></app-add-response-form>
</div>