.grid-container {
    margin: 20px;
  }
  
  .dashboard-card {
    position: absolute;
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
  }
  
  .more-button {
    position: absolute;
    top: 5px;
    right: 10px;
  }
  
  .dashboard-card-content {
    text-align: center;
  }

  footer{
    width: 50%;
    position: absolute;
    bottom: 0px;
    right: 0px;
    display: flex;
    justify-content: space-around;
  }

  #title{
    margin-bottom: 30px;
  }
  